/* Reset selector */
article, aside, figure, footer, header, nav, section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

/* Base styling */
html {
    background-color: #f0f8ff; /* Soft "wild" tone */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 600px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #f0f8ff;
}

/* Link focus/hover */
a:focus,
a:hover {
    font-style: italic;
}

/* Header styling */
header {
    border-bottom: 3px solid #800000;
    padding: 1.5em 0 2em;
    background-color: #fffded;
}

header h1 {
    color: #800000;
}

header h2 {
    font-size: 170%;
    color: #800000;
    font-style: italic;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

header img {
    float: left;
    padding: 0 30px;
}

/* Shadowed text */
.shadow {
    text-shadow: 2px 2px 2px #800000;
}

/* Main content styling */
main {
    padding: 0 30px;
}

section {
    clear: left;
    padding: 0 2em;
}

section h1 {
    color: #800000;
    font-size: 150%;
    padding: 0.5em 0 0.25em;
}

section h2 {
    font-size: 120%;
    padding-bottom: 0.25em;
}

section p {
    padding-bottom: 0.5em;
}

section blockquote {
    padding: 0 2em;
    font-style: italic;
}

section ul {
    padding: 0 0 1.5em 1.25em;
}

section li {
    padding-bottom: 0.35em;
}

section img {
    padding-bottom: 1em;
}

/* Speaker section */
#speakers {
    border: 3px double #800000;
    margin-bottom: 0.75em;
    border-radius: 10px;
    box-shadow: 5px 5px;
    padding: 0.5em 0 0.5em 2em;
    background-color: white;
}

#speakers img,
main img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 1em;
}

/* Footer styling */
footer {
    border-top: 3px solid #800000;
    background-color: #931420;
    padding: 1.5em 0;
    clear: both;
}

footer p {
    color: white;
    text-align: center;
}
